<launch>
  <node pkg="multi_map_navigation" type="navigation_server" name="navigation_server" output="screen">
    <param name="wormhole_db_path" value="$(find multi_map_navigation)/database/wormholes.db" />
    <param name="map_folder" value="$(find multi_map_navigation)/maps" />
  </node>
</launch>
